<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-include="'components/header/header.html'"></div>

<div class="container" ng-controller="MyPollCtrl">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>My Polls</h2>
      <div ng-repeat="poll in polls">
        <button class="btn btn-default btn-block text-justify">
          <a href="/poll/{{poll._id}}"><strong>{{ poll.name }}</strong> | {{ poll.expired | date:'medium' }}</a> 
          <input type="submit" class='btn btn-danger' value="Delete" ng-click="deletePoll(poll)" />
        </button>
      </div>
    </div>
  </div>
</div>
